@use "./scss/variables" as v;
@use "./scss/navbar";
@use "./scss/header";
@use "./scss/mixins";
@use "./scss/menu";
@use "./scss/reviews";
@use "./scss/_footer";
@use "./scss/contact.scss";

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: v.$color-text;
  font-family: v.$font-body;
}

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
