@use "./variables" as v;
.todo {
  max-width: 1000px;
  margin: 2rem auto 2rem auto;
  background: v.$todo-bg-color;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;

  h1 {
    text-align: center;
    color: v.$todo-heading-color;
  }
}