$bg-main: white;
$todo-bg-color: rgb(196, 229, 242);
$todo-heading-color: rgb(96, 125, 183);
$overdue-text-color: rgb(215, 52, 114);
$overdue-task-bg-color: rgba(239, 210, 234, 0.414);
$pending-text-color: rgb(63, 125, 206);
$pending-task-bg-color: rgba(209, 228, 236, 0.685);
$completed-text-color: rgb(73, 165, 107);
$completed-task-bg-color: rgba(160, 209, 182, 0.359);
