@use "./variables" as v;

@mixin container {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: v.$navbar-bg-color;
  align-items: center;
  justify-content: space-between;
}

@mixin content {
  display: flex;
  width: 50%;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$cafeDesc-color;
  color: v.$header-text-color;
}

@mixin cafeName {
  font-family: "Rammetto One", cursive;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@mixin cafeSubtitle {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  margin-left: -110px;
}

@mixin review-button {
  color: v.$color-white;
  border: 3px solid white;
  margin-left: -240px;
  padding: 0.8rem 1.5rem;
  border-radius: 2px;
  font-family: v.$font-body;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.5rem;
}

@mixin menu {
  // background-color: red;
  width: 100%;
  margin: 4rem auto;
  padding: 0 1.5rem;
  text-align: center;
}

@mixin title {
  width: 100%;
  font-family: "Rammetto One", cursive;
  font-size: 2rem;
  color: v.$menu-title-color;
  margin-bottom: 2rem;
}

@mixin section {
  background-color: v.$food-drink-bg-color;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2.5rem;
  text-align: left;
}

@mixin menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem;
  background-color: v.$color-white;
}
@mixin menu-item {
  width: 250px;
  background-color: v.$food-drink-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 20px solid v.$food-drink-bg-color;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
}

@mixin item-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  h3 {
    font-family: v.$font-body;
    font-weight: 600;
    font-size: 1rem;
    color: v.$color-text;
    margin: 0.8rem 0 0.4rem;
  }
}

@mixin menu-tags {
  font-size: 0.85rem;
  color: v.$icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;

  i {
    font-size: 0.8rem;
    color: v.$icon-color;
  }

  span {
    font-family: v.$font-body;
  }
}

@mixin review-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  background-color: v.$review-bg-color;

  text-align: center;
  color: v.$review-text-color;
}

@mixin review-heading {
  font-family: "Rammetto One", cursive;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: v.$color-white;
}

@mixin review-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@mixin review {
  background-color: v.$review-bg-color;
  border: 2px solid v.$color-white;
  margin-bottom: 30px;
  color: v.$color-text;
  width: 350px;
  padding: 1.5rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  min-height: 150px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  i {
    color: v.$color-text;
    font-size: 1.2rem;
  }

  .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 10px;
  }

  .fa-quote-right {
    position: absolute;
    bottom: 80px;
    right: 50px;
  }
}

@mixin review-text {
  font-family: v.$font-body;
  font-style: italic;
  font-weight: 600;
  margin: 1.5rem 0;
  color: v.$color-text;
  line-height: 1.5;
  text-align: center;
}

@mixin footer {
  background-color: v.$footer-bg-color;
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin footer-content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 20px;
  align-content: center;
  margin-left: 150px;

  span {
    margin-left: 15px;
    margin-top: 15px;
    color: v.$color-white;
  }

  p {
    color: v.$color-white;
    margin-left: 5px;
    font: v.$font-body;
    font-size: 1rem;
  }
}

@mixin ig-icon {
  margin-top: 35px;
  margin-right: 100px;
  color: v.$color-white;
  i {
    color: v.$color-white;
    font-size: 1.5rem;
  }
}
