@use "./variables" as v;
@use "./mixins";

.nav {
  width: 70%;

  &__container {
    @include mixins.container;

    .nav__logo {
      font-size: xx-large;
      color: v.$color-text;
      display: flex;
      align-items: center;

      i {
        color: v.$logo-color-pink;
        padding: 10px;
        margin: 50px;
      }
    }

    .nav__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: center;
      font: v.$font-body;
      color: v.$color-text;
      margin-left: 0;

      .nav__link {
        color: v.$color-text;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .nav__container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem 0;
  }

  .nav__links {
    justify-content: center;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-right: 0;
  }
}
