$color-text: #404040;
$navbar-bg-color:rgb(255, 255, 255);
$header-text-color:white;
$cafeDesc-color :#689572;
$font-body: 'Open Sans', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
$logo-color-pink: #FAA196;
$food-drink-bg-color: #EBC9C4;
$icon-color: #689572;
$color-white: #ffffff;
$menu-title-color :#FAA196;
$review-bg-color: #FAA196;
$review-text-color: #404040;
$footer-bg-color: #689572