@use "./scss/mixins";
@use "./scss/variables" as v;
@use "./scss/todo-container";
@use "./scss/overdue";
@use "./scss/pending";
@use "./scss/completed";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: v.$bg-main;
  color: black;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
