@mixin mobile {
    @media screen and (max-width:600px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:900px) and (min-width:601px){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:901px){
        @content;
    }
}