@use "../mixins/media" as mq;
.about {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 3.5rem 1.5rem;

  &__content {
    max-width: 700px;

    margin: 0 auto;
  }

  &__title {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.5rem;
  }
  &__divider {
    margin-top: 0;
    margin-bottom: 1.5rem;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
  &__line {
    width: 80px;
    height: 2px;
    border-bottom: 2px dotted rgb(175, 106, 115);
  }

  &__arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid rgb(175, 106, 115);
  }
  &__body {
    font-size: 0.95rem;
    line-height: 1.7;
    text-align: left;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  &__photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 1rem auto;
    display: block;
    float: none;
    shape-outside: none;
  }
  &__text {
    text-align: center;
    margin: 0 0 0.75rem 0;
  }

  @include mq.desktop {
    padding: 5rem 1.5rem;

    &__title {
      font-size: 1.9rem;
    }
    &__body {
      text-align: left;
    }

    &__photo {
      float: left;

      margin: 0 1.5rem 1rem auto;
      shape-outside: circle();
    }
    &__text {
      text-align: left;
    }
  }
}
