@use "../mixins/media" as mq;
.contact {
  padding: 1.5rem 1.5rem 4rem;
  background-color: #fff;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 2rem;
  }

  &__line {
    width: 80px;
    height: 2px;
    border-bottom: 2px dotted rgb(175, 106, 115);
  }

  &__arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid rgb(175, 106, 115);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  &__item {
    max-width: 260px;
  }

  &__icon {
    color: rgb(175, 106, 115);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__label {
    margin: 0 0 0.3rem;
    font-size: 1rem;
    font-weight: 600;
  }

  &__value {
    margin: 0;
    font-size: 0.9rem;
  }

  &__link {
    text-decoration: none;
  }

  @include mq.desktop {
    .contact {
      padding: 5rem 1.5rem 4.5rem;
    }

    &__list {
      display: flex;
      flex-direction: row;
      gap: 5rem;
    }
  }
}
