@use "../mixins/media" as mq;

.nav {
  width: 100%;
  height: 50px;
  background: transparent;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__logo {
    display: none;
    color: rgb(175, 106, 115);
  }

  &__menu {
    display: flex;
    gap: 1rem;

    &-item {
      font-size: 0.9rem;
      text-decoration: none;
      color: rgb(175, 106, 115);
    }
  }

  @include mq.desktop {
    & {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      display: block;
      padding-left: 10px;
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-decoration: none;
    }

    &__menu {
      margin-right: 100px;
      display: flex;
      gap: 2rem;

      &-item {
        text-decoration: none;
        font-size: 1.5rem;
        transition: opacity 0.2s ease;
        gap: 1rem;
        &:hover,
        &:focus-visible {
          opacity: 0.7;
        }
      }
    }
  }
}
