@use "./sass/partials/nav";
@use "./sass/partials/hero";
@use "./sass/partials/about";
@use "./sass/partials/skills";
@use "./sass/partials/projects";
@use "./sass/partials/contact";
@use "./sass/partials/footer";